<STYLE type="text/css"> 
<!--
a:hover {text-decoration: none; background:#000000; color: #FFFF33}
a:visited:hover {text-decoration: none; background:#000000; color: #FFFF33}

a.menu:link {text-decoration: underline; background=#000000; color: #FFFFFF}
a.menu:active {text-decoration: underline; background=#000000; color: #FFFFFF}
a.menu:visited {text-decoration: underline; background=#000000; color: #FFFFFF}
a.menu:hover {text-decoration: underline; background:#000000; color: #FFFF33}
a.menu:visited:hover {text-decoration: none; background:#000000; color: #FFFF33}
-->
</style>